services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: clean_code_db
      POSTGRES_USER: cleancode
      POSTGRES_PASSWORD: projetcleancode
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
